* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html, body {
   height: 100%;
   width: 100%;
}


.campus{
   width: 80%;
   margin: auto;
   text-align: center;
   padding-top: 50px;
}
.rows{
   display: flex;
   margin-top: 100px;
   justify-content: space-evenly;
   flex-wrap: wrap;
   gap: 50px;
   /* flex-wrap:wrap ; */
   
}
.campus-col{
   /* flex-basis: 32%; */
   border-radius: 10px;
   /* margin-bottom: 30px; */
   height: 300px;
   width: 300px;
   padding: 20px;
   position: relative;
   border: 2px solid green;

   overflow: hidden;
}
.campus-col img{
   width: 100%;
   height: 100%;
   /* background-color: azure; */
   display: block;
}
.layer{
   background: transparent;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
}
.layer:hover{
   background: rgba(2, 6, 88, 0.7);
}
.l{
   
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
   gap: 10px;
}
.l a{
   text-decoration: none;
   color: white;
   margin: 0 20px;

   padding: 10px;
   background-color: rgb(4, 159, 4);
   
}
.layer .l{
   width: 100%;
   font-weight: 500;
   color: #fff;
   font-size: 26px;
   bottom: -200px;
   left: 50%;
   transform: translateX(-50%);
   position: absolute;
   transition: 0.5s;
}
.layer:hover .l{
   bottom:25%;
   opacity: 1;
}


